body {
    background-color: rgba(144, 238, 144, 0.5);
}

h1 {
    background-color: #00008b;
    color: #ffffff;
    font-family: Verdana, sans-serif;
}

div {
    background-color: hsl(195, 53%, 79%);
    width: 600px;
    font-family: Arial, sans-serif;
}

h2 {
    background-color: lightcoral;
}

h3 {
    background-color: rgb(255, 227, 194);
}

p {
    width: 550px;
    font-size: 24px;
    text-align: center;
}



