body {
    background-color: rgba(144, 238, 144, 0.5);
}

h1 {
    background-color: #00008b;
    color: #ffffff;
}

div {
    background-color: lightblue;
    width: 600px;
}

h2 {
    background-color: lightcoral;
}

h3 {
    background-color: #ffe4c4;
}

p {
    width: 550px;
    font-size: 24px;
    text-align: center;
}



